.DS_Store
node_modules/
*.tsbuildinfo
.build/
.pi/
.codewhale
.openclaude

docs/codebase/
graphify-out/

acryl-desktop/dist/
acryl-desktop/lib/
dsh-community-market/lib/
dsh-client-ui-brand-acryl/lib/
acryl-web/lib/
release-artifacts/

.cgr-hash-cache.json
